<html>
    <head>
        <title>Rock Paper Scissors Game!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <h1 class="text-center">Rock Paper Scissors Game!</h1>
        <hr>

        <form action="/results">

            <div class="col-xs-6">
                <h3>Player One:</h3>
                <div class="form-group">
                    <label for="player_one">Enter Action:</label>
                    <input id="player_one" name="player_one" class="form-control" type="text" placeholder="Rock / Paper / Scissors">
                </div>
            </div>

            <div class="col-xs-6">
                <h3>Player Two:</h3>
                <div class="form-group">
                    <label for="player_two">Enter Action:</label>
                    <input id="player_two" name="player_two" class="form-control" type="text" placeholder="Rock / Paper / Scissors">
                </div>
            </div>

            <br>
            <div class="text-center">
                <button type="submit" class="btn-success">PLAY!</button>
            </div>

        </form>

    </body>
</html>
