<html>
    <head>
        <title>Rock Paper Scissors Game!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <h1 class="text-center">Rock Paper Scissors Game!</h1>
        <hr>
        <h3 class="text-center">{{ gameinfo[0] }}</h2>
        <h3 class="text-center">{{ gameinfo[1] }}</h2>

        {% if gameinfo[0] == "You played rock!" %}
            <center><img src="http://preview.cutcaster.com/902949015-cartoon-rock.jpg" height=200> VERSUS
        {% endif %}

        {% if gameinfo[0] == "You played paper!" %}
            <center><img src="http://imageenvision.com/sm/0025-0803-0517-1051_clip_art_graphic_of_a_white_copy_and_print_paper_cartoon_character_flexing_his_arm_muscles.jpg" height=200> VERSUS
        {% endif %}

        {% if gameinfo[0] == "You played scissors!" %}
            <center><img src="http://4.bp.blogspot.com/-qwqZFXy1BD0/TaidU9iUUMI/AAAAAAAAADs/EDBYAjpIb7Y/s1600/scissors.gif" height=200> VERSUS
        {% endif %}

        {% if gameinfo[1] == "The computer played scissors!" %}
            <img src="http://4.bp.blogspot.com/-qwqZFXy1BD0/TaidU9iUUMI/AAAAAAAAADs/EDBYAjpIb7Y/s1600/scissors.gif" height=200></center>
        {% endif %}

        {% if gameinfo[1] == "The computer played rock!" %}
            <img src="http://preview.cutcaster.com/902949015-cartoon-rock.jpg" height=200></center>
        {% endif %}

        {% if gameinfo[1] == "The computer played paper!" %}
            <img src="http://imageenvision.com/sm/0025-0803-0517-1051_clip_art_graphic_of_a_white_copy_and_print_paper_cartoon_character_flexing_his_arm_muscles.jpg" height=200></center>
        {% endif %}

        {% if gameinfo[0] == "You and the computer" %}
            <center><img src="http://jeffcoschool.server273.com/wp-content/uploads/2014/04/no-winners.jpg" height=300></center>
        {% endif %}

        {% if gameinfo[0] == "Please answer only with" %}
            <center><img src="http://crooksandliars.com/files/primary_image/15/04/swear-word.jpg" height=300></center>
        {% endif %}

        <h2 class="text-center"><strong>{{ gameinfo[2] }}</strong></h2>

        <div class="text-center">
            <a class="btn btn-default" href="/" role="button">Play Again!</a>
        </div>
    </body>
</html>
